/vendor/
/composer.lock
/debian/debhelper-build-stamp
/debian/discomp2abraflexi/
/debian/discomp2abraflexi.debhelper.log
/debian/discomp2abraflexi.postrm.debhelper
/debian/discomp2abraflexi.substvars
/.vagrant/
/nbproject
/debian/files
/debian/.debhelper/
/debian/abraflexi-mailer/
/.env
/.phpunit.result.cache
/debian/multiflexi-discomp2abraflexi/
/debian/multiflexi-discomp2abraflexi.debhelper.log
/debian/multiflexi-discomp2abraflexi.substvars
/.build/
/.vscode/
