#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@ --with phpcomposer

override_dh_install:
	dh_install
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/discomp2abraflexi/usr/share/php/SpojeNet/Discomp/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \\
		debian/discomp2abraflexi/usr/share/php/SpojeNet/Discomp/autoload.php
	sed -i "s|: '0.0.0'|: '$(PKG_VERSION)'|" \\
		debian/discomp2abraflexi/usr/share/php/SpojeNet/Discomp/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/discomp2abraflexi/usr/share/php/SpojeNet/Discomp/autoload.php
	sed -i -e 's#\.\./vendor#/usr/share/php/SpojeNet/Discomp#g'	  debian/discomp2abraflexi/usr/share/discomp2abraflexi/*.php
	sed -i -e 's/..\/.env//'                              			  debian/discomp2abraflexi/usr/share/discomp2abraflexi/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"' multiflexi/discomp2abraflexi.multiflexi.app.json | sponge debian/multiflexi-discomp2abraflexi/usr/lib/discomp2abraflexi/multiflexi/discomp2abraflexi.multiflexi.app.json
